
/*Boton*/
@mixin mixin-boton($color) {
    background-color: $color;
    display: block; /*Transforma o link inline-block para poder aplicar margin*/
    text-align: center;
    text-decoration: none; /*Remove a decoraçao do link*/
    padding: .5rem 1rem;
    color: $blanco;
    margin-top: 1rem;
    text-transform: uppercase;
}

/*Com boxsizing inclui o borde e o padding no tamanho total do objeto*/
@mixin mixin-boxsizing($box-model) {
    box-sizing: $box-model;
}
/*Mixins para incluir imagens*/
@mixin mixin-background-imagen($imagen) {
    background-image: url($imagen);
    background-repeat: no-repeat;
    /*Ajusta a posição da imagen no contenedor left-top*/
    background-position: center center;
}

@mixin mixin-telefono{
    @media only screen and (min-width:$telefono) {
        @content;
    }
}

@mixin mixin-tablet{
    @media only screen and (min-width:$tablet) {
        @content;
    }
}

@mixin mixin-desktop{
    @media only screen and (min-width:$desktop) {
        @content;
    }
}

@mixin mixin-gradient($color1, $color2) {
    background: linear-gradient(to right, $color1 0%, $color2 100%);
}